@use "variables";

.menu {
  height: 100%;
  position: absolute;
  left: 0;
  overflow-y: auto;
  width: 300px;
  color: var(--body-color);
  background: var(--table-bg-even);
  border-right: 1px solid var(--table-border-bottom);
  transition: 0.5s;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      display: block;
      color: var(--body-color);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-decoration: none;
      padding: 10px 15px;

      &:hover {
        text-decoration: underline;
      }
    }

    li.active>a {
      color: var(--accent-color);
      text-decoration: none;
    }

    ul {
      padding-left: 20px;
    }
  }
}

.menu-hidden {
  width: 0;
}

@include variables.max-screen(600px) {
  .menu {
    width: 0;
    z-index: 1;
  }

  .menu-hidden {
    width: calc(100% - 100px);
    z-index: 0;
  }
}