{% extends "base.html" %}

{% block posthead %}
  {% set site_root = config.base_url | trim_end_matches(pat="/") %}
  {% set article_id = page.permalink ~ "#article" %}
  {% set webpage_id = page.permalink ~ "#webpage" %}
  {% set website_id = site_root ~ "/#website" %}
  {% set person_id = site_root ~ "/#person" %}
  {% set org_id = site_root ~ "/#org" %}

  {% if page.earlier %}
    <link rel="prerender" href="{{ page.earlier.permalink }}">
  {% endif %}

  {% if page.later %}
    <link rel="prerender" href="{{ page.later.permalink }}">
  {% endif %}

  {% for tag in page.taxonomies.tags %}
    <link rel="prerender"  href="{{ get_taxonomy_url(kind="tags", name=tag) }}">
  {% endfor %}

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "@id": {{ article_id | json_encode | safe }},
      "url": {{ page.permalink | json_encode | safe }},
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": {{ webpage_id | json_encode | safe }}
      },
      "headline": {{ page.title | json_encode | safe }},
      "description": {{ page.description | default(value=config.description) | json_encode | safe }},
      "image": [{% if page.extra.thumbnail %}{{ get_url(path=page.path ~ page.extra.thumbnail) | json_encode | safe }}{% elif page.extra.static_thumbnail %}{% if page.extra.static_thumbnail is matching("^http[s]?://") %}{{ page.extra.static_thumbnail | json_encode | safe }}{% else %}{{ get_url(path=page.extra.static_thumbnail) | json_encode | safe }}{% endif %}{% elif config.extra.default_og_image %}{{ get_url(path=config.extra.default_og_image) | json_encode | safe }}{% endif %}],
      "datePublished": {{ page.date | date(format="%+") | json_encode | safe }},
      "dateModified": {{ page.updated | default(value=page.date) | date(format="%+") | json_encode | safe }},
      "inLanguage": "en",
      "isPartOf": {
        "@id": {{ website_id | json_encode | safe }}
      }{% if config.extra.author %},
      "author": {
        "@id": {{ person_id | json_encode | safe }}
      },
       "publisher": {
        "@id": {{ org_id | json_encode | safe }}
      }
      {% endif %}
    }
  </script>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {% set len = page.ancestors | length %}

        {% for section_path in page.ancestors %}
        {
          {% set section = get_section(path=section_path) %}
          "@type": "ListItem",
          "position": {{ loop.index }},
          "name": "{{ section.title }}",
          "item": "{{ section.permalink | safe }}"
        },
        {% endfor %}
        {
          "@type": "ListItem",
          "position": {{ len + 1 }},
          "name": "{{ page.title }}",
          "item": "{{ page.permalink | safe }}"
        }
      ]
    }
  </script>
{% endblock %}

{% block content %}
  <div class="post-title">
    <h1>{{ page.title }}</h1>
    <small>
      {{ page.date | date(format="%B %d, %Y") }}
      {% if page.taxonomies.tags %}
        - 
        <span class="tags">
          {% for tag in page.taxonomies.tags %}
            <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag }}</a>
          {% endfor %}
        </span>
      {% endif %}
    </small>
  </div>

  <div>
    {{ page.content | safe }}
  </div>

  <hr class="footer-rule" />

  {% if config.extra.footer_about %}
    <div class="footer-about">
      {{ config.extra.footer_about | markdown | safe }}
    </div>
  {% endif %}

  <div class="related-container">

    {% if page.earlier %}
      <div class="link">
        Previous <br />
        <a href="{{ page.earlier.permalink }}">{{ page.earlier.title }}</a>
      </div>
    {% endif %}

    {% if page.later %}
      <div class="link">
        Next <br />
        <a href="{{ page.later.permalink }}">{{ page.later.title }}</a>
      </div>
    {% endif %}

  </div>

{% endblock content %}
