{% extends "base.html" %}

{% import "reading-book-preview.html" as reading_book_macros %}

{% block styles%}
  <link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">
  <link rel="stylesheet" href="{{ get_url(path="reading-books.css") | safe }}">
{% block css %}
{% endblock css %}
{% endblock styles %}

{% block posthead %} 
  {% for post in section.pages %}
    <link rel="prerender" href="{{ post.permalink }}" />
  {% endfor %}
{% endblock posthead %}

{% block content %}
  {{ section.content | safe }}

  <h2>Reading Books</h2>
  {% set subsection = get_section(path="books/reading/_index.md") %}
  {% for post in subsection.pages %}
    {{ reading_book_macros::reading_book_preview(post=post, path="reading") }}
  {% endfor %}

  <h2>Programming Books</h2>
  {% set subsection = get_section(path="books/programming/_index.md") %}
  {% for post in subsection.pages %}
    {{ reading_book_macros::reading_book_preview(post=post, path="programming") }}
  {% endfor %}

  <h2>Health Books</h2>
  {% set subsection = get_section(path="books/health/_index.md") %}
  {% for post in subsection.pages %}
    {{ reading_book_macros::reading_book_preview(post=post, path="health") }}
  {% endfor %}

  <h2>Kids Books</h2>
  {% set subsection = get_section(path="books/kids/_index.md") %}
  {% for post in subsection.pages %}
    {{ reading_book_macros::reading_book_preview(post=post, path="kids") }}
  {% endfor %}

  <h2>Politics Books</h2>
  {% set subsection = get_section(path="books/politics/_index.md") %}
  {% for post in subsection.pages %}
    {{ reading_book_macros::reading_book_preview(post=post, path="politics") }}
  {% endfor %}  
{% endblock content %}
