{% extends "base.html" %}

{% import "reading-book-preview.html" as reading_book_macros %}

{% block styles%}
  <link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">
  <link rel="stylesheet" href="{{ get_url(path="reading-books.css") | safe }}">
{% block css %}
{% endblock css %}
{% endblock styles %}

{% block posthead %}
  {% for post in section.pages %}
    <link rel="prerender" href="{{ post.permalink }}" />
  {% endfor %}
{% endblock posthead %}

{% block content %}
  {{ section.content | safe }}

  {{ reading_book_macros::book_category_section(title="Personal Development Books", section_path="books/personal-development/_index.md", slug="personal-development") }}
  {{ reading_book_macros::book_category_section(title="Finance Books", section_path="books/finance/_index.md", slug="finance") }}
  {{ reading_book_macros::book_category_section(title="Programming Books", section_path="books/programming/_index.md", slug="programming") }}
  {{ reading_book_macros::book_category_section(title="Health Books", section_path="books/health/_index.md", slug="health") }}
  {{ reading_book_macros::book_category_section(title="Parenting Books", section_path="books/parenting/_index.md", slug="parenting") }}
  {{ reading_book_macros::book_category_section(title="History Books", section_path="books/history/_index.md", slug="history") }}
  {{ reading_book_macros::book_category_section(title="Fiction Books", section_path="books/fiction/_index.md", slug="fiction") }}

{% endblock content %}

