{% extends "book.html" %}

{% import "book-utils.html" as book_utils %}

{% block bookcontent %}
    <h1>{{ section.title }}</h1>
    {{ section.content | safe }}
{% endblock bookcontent %}

{% block prev_link %}
    {# need to find the last page of the previous section or the previous section directly
     if there isn't any pages in it #}

    {% set book_url = book_utils::get_current_book_url() %}
    {% set book_section_path = book_utils::get_book_section_path(current_book_url=book_url) %}
    {% set index = get_section(path=book_section_path | trim) %}
    {% set found_current = false %}
    {% for s in index.subsections | reverse %}
        {% set subsection = get_section(path=s) %}
        {% if subsection.permalink == section.permalink %}
            {% set_global found_current = true %}
        {% else %}
            {% if found_current %}
                {% if subsection.pages %}
                    {% set last_page = subsection.pages | last %}
                    <a class="previous" href="{{ last_page.permalink | safe }}"><</a>
                {% else %}
                    <a class="previous" href="{{ subsection.permalink | safe }}"><</a>
                {% endif %}
                {# no break #}
                {% set_global found_current = false %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock prev_link %}

{% block next_link %}
    {% if section.pages %}
        {% set next_page = section.pages | first %}
        <a class="next" href="{{ next_page.permalink | safe }}">></a>
    {% else %}
        {# No page in the section, find the link for the following section #}
        {% set book_url = book_utils::get_current_book_url() %}
        {% set book_section_path = book_utils::get_book_section_path(current_book_url=book_url) %}
        {% set index = get_section(path=book_section_path | trim) %}
        {% set found_current = false %}
        {% for s in index.subsections %}
            {% set subsection = get_section(path=s) %}
            {% if found_current %}
                <a class="next" href="{{ subsection.permalink | safe }}">></a>
                {# no break #}
                {% set_global found_current = false %}
            {% endif %}
            {% if subsection.permalink == section.permalink %}
                {% set_global found_current = true %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock next_link %}